/*SCSS- stylesheet*/
.navbar {
  overflow: hidden;
  color: #4f4c4e;
  padding: 25px 10px 0 0;
}

.nav-link {
  background-color: #ad9c32;
  border-left: 3px solid black;
  float: inherit;
  width: 100%;
}

body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  padding: 0;
  font-family: Arial;
  padding-bottom: 50px;
}

body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  padding: 0;
  font-family: Arial;
}
.main {
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  position: flex;
  justify-content: center;
}

.row .col-lg-6 {
  width: 100%;
  padding: 20px;
  border: 2px solid black;
  margin: 2px;
}

.footer {
  position: flex;
  bottom: 0;
  width: 100%;
  background-color: #856b7c;
  color: white;
  display: flex;
  justify-content: space-between;
  opacity: 0.75;
}

@media screen and (max-width: 900px) {
  .nav-link {
    background-color: transparent;
  }
}
